{% extends 'govbrds.html' %}

{% load govbrds_tags static i18n wagtailimages_tags wagtailcore_tags %}

{% block govbrds_title %}{{page.title}}{% endblock %}

{% block govbrds_before_content %}
    {% include 'includes/header.html' with header_title=page.get_site header_subtitle=page.title %}
{% endblock %}

{% block govbrds_content %}
     <div class="row">
        <div class="br-menu push active small col-sm-4 col-lg-3 px-0" id="main-navigation">
            {% block nav %}{% include "includes/nav.html" %}{% endblock nav %}
        </div>
        <div class="col mb-5">
            {% if featured_article %}
                <h2>Destaque</h2>
                <div class="promo row">
                    <div class="col-lg-4">
                        {% image featured_article.image width-400 class="rounded-corners" %}
                    </div>
                    <div class="col-lg-8">
                        <h2>{{ featured_article.title }}</h2>
                        {% if featured_article.introduction %}
                            <p>{{ featured_article.introduction|truncatewords:15 }}... </p>
                        {% endif %}
                        <div class="center">
                            <a class="br-button secondary mr-3" type="button" href="{{ featured_article.url }}">
                                <span>Leia mais...</span>
                            </a>
                        </div>
                    </div>
                </div>

                <span class="br-divider sm my-3"></span>

            {% endif %}

            <div style="background-color: #f8f8f8; overflow: hidden; padding: 20px 0">
                {% if page.featured_section_1 %}

                    <h2 class="center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                            <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path d="M96 96c0-35.3 28.7-64 64-64H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H80c-44.2 0-80-35.8-80-80V128c0-17.7 14.3-32 32-32s32 14.3 32 32V400c0 8.8 7.2 16 16 16s16-7.2 16-16V96zm64 24v80c0 13.3 10.7 24 24 24H296c13.3 0 24-10.7 24-24V120c0-13.3-10.7-24-24-24H184c-13.3 0-24 10.7-24 24zm208-8c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H384c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H384c-8.8 0-16 7.2-16 16zM160 304c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16zm0 96c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16s-7.2-16-16-16H176c-8.8 0-16 7.2-16 16z"/>
                        </svg>
                        {{ page.featured_section_1_title }}</h2>
                    <div class="row">
                        {% for childpage in last_news %}
                            <div class="col-md-4">
                                {% include "cards/listing-card.html" with page=childpage %}
                            </div>
                        {% endfor %}
                        {% for childpage in last_news_without_image %}
                            <div class="col-md-4">
                                {% include "cards/listing-card-without-image.html" with page=childpage %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="center">
                        <a class="br-button secondary mr-3" type="button" href="{{ page.featured_section_1.url }}">
                            <span>Mais notícias...</span>
                        </a>
                    </div>
                    </div>
                {% endif %}

            <div class="container-fluid" style="background-color:#0c326f ; color: white">
            </div>
            {% if page.featured_section_2 %}

                <div class="container-lg" style="padding: 20px 0">
                    <div class="row">
                        <h2 class="center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                                <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path d="M408 120c0 54.6-73.1 151.9-105.2 192c-7.7 9.6-22 9.6-29.6 0C241.1 271.9 168 174.6 168 120C168 53.7 221.7 0 288 0s120 53.7 120 120zm8 80.4c3.5-6.9 6.7-13.8 9.6-20.6c.5-1.2 1-2.5 1.5-3.7l116-46.4C558.9 123.4 576 135 576 152V422.8c0 9.8-6 18.6-15.1 22.3L416 503V200.4zM137.6 138.3c2.4 14.1 7.2 28.3 12.8 41.5c2.9 6.8 6.1 13.7 9.6 20.6V451.8L32.9 502.7C17.1 509 0 497.4 0 480.4V209.6c0-9.8 6-18.6 15.1-22.3l122.6-49zM327.8 332c13.9-17.4 35.7-45.7 56.2-77V504.3L192 449.4V255c20.5 31.3 42.3 59.6 56.2 77c20.5 25.6 59.1 25.6 79.6 0zM288 152a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"/>
                            </svg>
                            {{ page.featured_section_2_title }}</h2>
                        <div class="row col-container">
                            {% for childpage in page.featured_section_2.specific.children|slice:"6" %}
                                <div class="col-md-4 col-lg-4">
                                    <div class="d-flex align-items-stretch">
                                        {% include "cards/location-card.html" with page=childpage %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}