{% load wagtailimages_tags %}
    <div class="br-card">
        <div class="card-header">
            <div class="editorial">
                {% if page.editorial %}
                    <a href="/search/?query={{ page.editorial }}">{{ page.editorial }}</a>
                {% endif %}
            </div>
            <div class="text-weight-semi-bold">
                <a href="{{ page.url }}"><h3>{{ page.title }}</h3></a>
            </div>
        </div>
        <div class="card-content">
            <p>{{ page.introduction }}</p>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <div>
                    <a href="{{ page.url }}" class="br-button" type="button">Leia mais...
                    </a>
                </div>
                <div class="ml-auto">
                    <!--<button class="br-button circle" type="button" aria-label="Ícone ilustrativo">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                    </button>
                    <button class="br-button circle" type="button" aria-label="Compartilhar">
                        <i class="fas fa-share-alt" aria-hidden="true"></i>
                    </button>
                    -->
                </div>
            </div>
        </div>
    </div>
  
