{% load wagtailimages_tags %}

    <div class="br-card" id="card-{{ block.id }}">
        <div class="card-header">
            {% if block.image %}
                {% image block.image scale-100 loading="lazy" class="card-img-top rounded-corners" %}
            {% endif %}

            <div class="card-title text-weight-semi-bold">
                <a href="{{ block.url }}"><h3>{{ block.title }}</h3></a>
            </div>
        </div>
        <div class="card-text card-content">
            <p>{{ block.caption }}</p>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <div>
                    <a href="{{ block.url }}" class="br-button" type="button">Leia mais...
                    </a>
                </div>
                <div class="ml-auto">
                    <!--<button class="br-button circle" type="button" aria-label="Ícone ilustrativo">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                    </button>
                    <button class="br-button circle" type="button" aria-label="Compartilhar">
                        <i class="fas fa-share-alt" aria-hidden="true"></i>
                    </button>
                    -->
                </div>
            </div>
        </div>
    </div>

