{% load wagtailimages_tags %}
    <div class="br-card">
        <div class="card-header">
            <div class="text-weight-semi-bold">
                <a href="{{ block.url }}"><h3>{{ block.title }}</h3></a>
            </div>
        </div>
        <div class="card-content">
            <p>{{ block.caption }}</p>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <div>
                    <a href="{{ block.url }}" class="br-button" type="button">Leia mais...
                    </a>
                </div>
            </div>
        </div>
    </div>
  
