{% load wagtailcore_tags govbrds_navigation_tags wagtailimages_tags %}

<div class="br-card locations">
        {% image page.image fill-500x200-c100 class="card-img-top rounded-corners" loading="lazy"  %}
        <div class="card-header">
            {% if page.introduction %}
                <h3 class="card-title">{{page.title}}</h3>
            {% endif %}
        </div>
    
    <div class="card-content">
        <address>{{page.address}}</address>
        <br />
        <a href="{{page.url}}" class="br-button primary block">Acessar página</a>
    </div>
</div>
