<div class="embed-responsive embed-responsive-16by9" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="embed-container">
        <div style="position: relative; padding-bottom: 56.25%; height: 0;">
            <iframe class="embed-responsive-item"
                    src="{{ value.url }}"
                    frameborder="0"
                    webkitallowfullscreen="true"
                    mozallowfullscreen="true"
                    allowfullscreen=""
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                    allowfullscreen title="Conteúdo Incorporado"
            >
            </iframe>
        </div>
    </div>
</div>