{% extends 'theme_govbrds/govbrds.html' %}


{% load aratinga_tags navigation_tags i18n static wagtailcore_tags wagtailimages_tags wagtailsettings_tags wagtailuserbar %}
{% get_settings %}
{% get_current_language as LANGUAGE_CODE %}


{% block govbrds_title %}{{page.title}}{% endblock %}

{% block govbrds_before_content %}
  {% include 'theme_govbrds/includes/header.html' with header_title=page.get_site header_subtitle=page.title %}
{% endblock %}

{% block govbrds_content %}
  <main class="d-flex flex-fill mb-5" id="main">
    <div class="container-lg d-flex">
      <div class="row">
        {% include 'theme_govbrds/includes/navigation.html' %}
        <div class="col mb-5">
            {% include 'theme_govbrds/includes/breadcrumb.html' %}
            <div class="main-content pl-sm-3 mt-4" id="main-content">
              {% block content %}
                {% block messages %}
                    {% include "aratinga/includes/messages.html" %}
                {% endblock messages %}

    
                {% block content_body %}
                    {% for block in page.body %}
                        {% include_block block with settings=settings %}
                    {% endfor %}
                {% endblock %}

                {% block content_post_body %}{% endblock %}

            {% endblock content %}
            </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block govbrds_after_content %}
  {% include 'theme_govbrds/includes/footer.html' %}
{% endblock %}
