{% load wagtailimages_tags wagtailcore_tags %}
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto">
          <span class="br-avatar mr-3" title="{{ author.first_name }} {{ author.last_name }}">
              <span class="content"><i style="--icon-size: 16px " class="fas fa-user" aria-hidden="true"></i>
              </span>
          </span>
      </div>
      <div class="col">
        {% image author.image fill-50x50-c100 %}
          {{ author.first_name }} {{ author.last_name }} - {{ author.job_title }}
      </div>
    </div>
  </div>