{% extends 'govbrds.html' %}

{% load govbrds_tags static i18n %}

{% block govbrds_title %}{{page.title}}{% endblock %}

{% block govbrds_before_content %}
  {% include 'includes/header.html' with header_title=page.get_site header_subtitle=page.title %}
{% endblock %}

{% block govbrds_content %}
  <main class="d-flex flex-fill mb-5" id="main">
    <div class="container-lg d-flex">
      <div class="row">
        {% include 'includes/nav.html' %}
        <div class="col mb-5">
          {% block breadcrumbs %}
            {% breadcrumbs %}
          {% endblock breadcrumbs %}
            <div class="main-content pl-sm-3 mt-4" id="main-content">
              {% block content %} CONTENT {% endblock %}
            </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block govbrds_after_content %}
  {% include 'includes/footer.html' %}
{% endblock %}
