{% extends 'govbrds.html' %}

{% load govbrds_tags static i18n %}

{% block govbrds_title %}{{page.title}}{% endblock %}

{% block govbrds_before_content %}
    {% include 'includes/header.html' with header_title=page.get_site header_subtitle=page.title %}
{% endblock %}

{% block govbrds_content %}
    <div class="row">
        <div class="br-menu push active small col-sm-4 col-lg-3 px-0" id="main-navigation">
            {% block nav %}{% include "includes/nav.html" %}{% endblock nav %}
        </div>
        <div class="col mb-5">
            {% block breadcrumbs %}
                {% breadcrumbs %}
            {% endblock breadcrumbs %}
            <div class="row">
                <div class="col-8" id="main-content">
                    {% block content %} CONTENT {% endblock %}
                </div>
                <div class="col-4">
                    {% include "base/context_nav.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}