{% extends 'govbrds.html' %}

{% load govbrds_tags wagtailimages_tags wagtailcore_tags static i18n %}

{% block govbrds_content %}


    <div class="br-menu push active small col-sm-4 col-lg-3 px-0" id="main-navigation">
        {% block nav %}{% include "includes/nav.html" %}{% endblock nav %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include "includes/headers/header-hero.html" %}
                <div>
                    {{page.body}}
                </div>

                {% if page.articles %}
                <h2 class="center" style="margin-top: 20px">Notícias Relacionadas</h2>
                <div class="container">
                    <div class="row">
                        {% for childpage in page.articles %}
                            <div class="col-md-4">
                                {% include "cards/listing-card.html" with page=childpage %}
                            </div>
                        {% endfor %}
                    </div>
                    <a class="featured-cards__link" href="/noticias/?location={{ page.acronym }}">
                        <span>Mais notícias...</span>
                        {% include "includes/chevron-icon.html" with class="featured-cards__chevron-icon" %}
                    </a>
                </div>
                {% endif %}

            </div>

            <div class="col-md-12 bg-gradient-blue-vivid" style="margin-top: 20px">
                <div class="container">
                    <div class="row">
			<div class="col-md-6">
                        	<h1 class="text-up-05 text-sm-up-06 text-weight-regular text-sm-weight-light mb-5">
                            	Funcionamento
                        	</h1>

                        	{% if page.is_open %}
                            	<p>Está unidade está fechada hoje.</p>			   
	                        {% else %}
        	        	<p>Esta unidade está aberta hoje.</p>
                	        {% endif %}

			</div>
			<div class="col-md-6">
                        <p class="location__meta-title">Endereço: </p>
                        <address>{{ page.address|linebreaks }}</address>
			</div>
                    </div>
                </div>
            </div>

        </div>


{% endblock govbrds_content %}
